In [ ]:
%reload_ext autoreload
%autoreload 2
from data_retrieving import StockDataRetriever
from data_preprocessing_utils import *
from feature_engineering import *

from datetime import datetime

In [3]:
retriever = StockDataRetriever(
    start=datetime(2024, 9, 1),
    end=datetime(2025, 3, 1),
)

all_features = []
stock_list = SNP500_STOCKS_SELECTED
for i, symbol in enumerate(stock_list):
    print(f'Retrieving {i}-th symbol out of {len(stock_list)}...')

    data = retriever(symbol)
    data = filter_by_regular_hours(data, TSLDatasetConstants.DATETIME_COLUMN_NAME)
    all_features.append(prepare_data_for_tsl_indicators(data, symbol, mode='train'))

Retrieving 0-th symbol out of 142...
Retrieving 1-th symbol out of 142...
Retrieving 2-th symbol out of 142...
Retrieving 3-th symbol out of 142...
Retrieving 4-th symbol out of 142...
Retrieving 5-th symbol out of 142...
Retrieving 6-th symbol out of 142...
Retrieving 7-th symbol out of 142...
Retrieving 8-th symbol out of 142...
Retrieving 9-th symbol out of 142...
Retrieving 10-th symbol out of 142...
Retrieving 11-th symbol out of 142...
Retrieving 12-th symbol out of 142...
Retrieving 13-th symbol out of 142...
Retrieving 14-th symbol out of 142...
Retrieving 15-th symbol out of 142...
Retrieving 16-th symbol out of 142...
Retrieving 17-th symbol out of 142...
Retrieving 18-th symbol out of 142...
Retrieving 19-th symbol out of 142...
Retrieving 20-th symbol out of 142...
Retrieving 21-th symbol out of 142...
Retrieving 22-th symbol out of 142...
Retrieving 23-th symbol out of 142...
Retrieving 24-th symbol out of 142...
Retrieving 25-th symbol out of 142...
Retrieving 26-th symbol out of 142...
Retrieving 27-th symbol out of 142...
Retrieving 28-th symbol out of 142...
Retrieving 29-th symbol out of 142...
Retrieving 30-th symbol out of 142...
Retrieving 31-th symbol out of 142...
Retrieving 32-th symbol out of 142...
Retrieving 33-th symbol out of 142...
Retrieving 34-th symbol out of 142...
Retrieving 35-th symbol out of 142...
Retrieving 36-th symbol out of 142...
Retrieving 37-th symbol out of 142...
Retrieving 38-th symbol out of 142...
Retrieving 39-th symbol out of 142...
Retrieving 40-th symbol out of 142...
Retrieving 41-th symbol out of 142...
Retrieving 42-th symbol out of 142...
Retrieving 43-th symbol out of 142...
Retrieving 44-th symbol out of 142...
Retrieving 45-th symbol out of 142...
Retrieving 46-th symbol out of 142...
Retrieving 47-th symbol out of 142...
Retrieving 48-th symbol out of 142...
Retrieving 49-th symbol out of 142...
Retrieving 50-th symbol out of 142...
Retrieving 51-th symbol out of 142...
Retrieving 52-th symbol out of 142...
Retrieving 53-th symbol out of 142...
Retrieving 54-th symbol out of 142...
Retrieving 55-th symbol out of 142...
Retrieving 56-th symbol out of 142...
Retrieving 57-th symbol out of 142...
Retrieving 58-th symbol out of 142...
Retrieving 59-th symbol out of 142...
Retrieving 60-th symbol out of 142...
Retrieving 61-th symbol out of 142...
Retrieving 62-th symbol out of 142...
Retrieving 63-th symbol out of 142...
Retrieving 64-th symbol out of 142...
Retrieving 65-th symbol out of 142...
Retrieving 66-th symbol out of 142...
Retrieving 67-th symbol out of 142...
Retrieving 68-th symbol out of 142...
Retrieving 69-th symbol out of 142...
Retrieving 70-th symbol out of 142...
Retrieving 71-th symbol out of 142...
Retrieving 72-th symbol out of 142...
Retrieving 73-th symbol out of 142...
Retrieving 74-th symbol out of 142...
Retrieving 75-th symbol out of 142...
Retrieving 76-th symbol out of 142...
Retrieving 77-th symbol out of 142...
Retrieving 78-th symbol out of 142...
Retrieving 79-th symbol out of 142...
Retrieving 80-th symbol out of 142...
Retrieving 81-th symbol out of 142...
Retrieving 82-th symbol out of 142...
Retrieving 83-th symbol out of 142...
Retrieving 84-th symbol out of 142...
Retrieving 85-th symbol out of 142...
Retrieving 86-th symbol out of 142...
Retrieving 87-th symbol out of 142...
Retrieving 88-th symbol out of 142...
Retrieving 89-th symbol out of 142...
Retrieving 90-th symbol out of 142...
Retrieving 91-th symbol out of 142...
Retrieving 92-th symbol out of 142...
Retrieving 93-th symbol out of 142...
Retrieving 94-th symbol out of 142...
Retrieving 95-th symbol out of 142...
Retrieving 96-th symbol out of 142...
Retrieving 97-th symbol out of 142...
Retrieving 98-th symbol out of 142...
Retrieving 99-th symbol out of 142...
Retrieving 100-th symbol out of 142...
Retrieving 101-th symbol out of 142...
Retrieving 102-th symbol out of 142...
Retrieving 103-th symbol out of 142...
Retrieving 104-th symbol out of 142...
Retrieving 105-th symbol out of 142...
Retrieving 106-th symbol out of 142...
Retrieving 107-th symbol out of 142...
Retrieving 108-th symbol out of 142...
Retrieving 109-th symbol out of 142...
Retrieving 110-th symbol out of 142...
Retrieving 111-th symbol out of 142...
Retrieving 112-th symbol out of 142...
Retrieving 113-th symbol out of 142...
Retrieving 114-th symbol out of 142...
Retrieving 115-th symbol out of 142...
Retrieving 116-th symbol out of 142...
Retrieving 117-th symbol out of 142...
Retrieving 118-th symbol out of 142...
Retrieving 119-th symbol out of 142...
Retrieving 120-th symbol out of 142...
Retrieving 121-th symbol out of 142...
Retrieving 122-th symbol out of 142...
Retrieving 123-th symbol out of 142...
Retrieving 124-th symbol out of 142...
Retrieving 125-th symbol out of 142...
Retrieving 126-th symbol out of 142...
Retrieving 127-th symbol out of 142...
Retrieving 128-th symbol out of 142...
Retrieving 129-th symbol out of 142...
Retrieving 130-th symbol out of 142...
Retrieving 131-th symbol out of 142...
Retrieving 132-th symbol out of 142...
Retrieving 133-th symbol out of 142...
Retrieving 134-th symbol out of 142...
Retrieving 135-th symbol out of 142...
Retrieving 136-th symbol out of 142...
Retrieving 137-th symbol out of 142...
Retrieving 138-th symbol out of 142...
Retrieving 139-th symbol out of 142...
Retrieving 140-th symbol out of 142...
Retrieving 141-th symbol out of 142...

In [7]:
data

,open,high,low,close,volume,trade_count,vwap,date,return,return_H,...,FRL_0,FRL_1,FRL_2,FRL_3,FRL_4,RSI_7,RSI_14,RSI_28,Oscillator_K,Oscillator_D
0,44.780,44.815,44.780,44.8000,-0.135921,75.0,44.797945,2024-09-03 14:30:00+00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44.800,44.820,44.790,44.8100,-0.126059,91.0,44.803076,2024-09-03 14:31:00+00:00,0.253119,0.000446,...,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,NaN,NaN
2,44.810,44.825,44.805,44.8250,-0.115434,77.0,44.815032,2024-09-03 14:32:00+00:00,0.383176,0.000335,...,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,NaN,NaN
3,44.825,44.850,44.825,44.8350,-0.112231,94.0,44.834267,2024-09-03 14:33:00+00:00,0.252973,0.000558,...,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,NaN,NaN
4,44.830,44.850,44.820,44.8200,-0.116870,115.0,44.836909,2024-09-03 14:34:00+00:00,-0.397301,0.000335,...,NaN,NaN,NaN,NaN,NaN,0.700000,0.700000,0.700000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45205,58.260,58.300,58.200,58.2250,0.979303,1080.0,58.261138,2025-02-28 20:56:00+00:00,-0.707711,0.000687,...,-1.254188,-0.535665,0.04506,0.625784,1.344307,0.566667,0.666667,0.669528,0.765625,0.879653
45206,58.220,58.235,58.190,58.2200,0.834523,968.0,58.214383,2025-02-28 20:57:00+00:00,-0.107309,0.000172,...,-1.254188,-0.535665,0.04506,0.625784,1.344307,0.637500,0.625000,0.651786,0.750000,0.816319
45207,58.220,58.250,58.180,58.2398,1.573234,1431.0,58.221017,2025-02-28 20:58:00+00:00,0.389406,0.000515,...,-1.254188,-0.535665,0.04506,0.625784,1.344307,0.670571,0.627792,0.669584,0.811875,0.775833
45208,58.240,58.260,58.160,58.1800,2.233023,1851.0,58.221495,2025-02-28 20:59:00+00:00,-1.204509,0.000347,...,-1.254188,-0.535665,0.04506,0.625784,1.344307,0.733582,0.558858,0.632524,0.625000,0.728958
45209,58.180,58.180,58.160,58.1800,31.148450,72.0,58.179999,2025-02-28 21:00:00+00:00,-0.007171,0.000000,...,-1.254188,-0.535665,0.04506,0.625784,1.344307,0.600160,0.540255,0.632524,0.625000,0.687292

In [4]:
all_features = pd.concat(all_features, ignore_index=True)

In [5]:
all_features.to_csv('data/dataset/sp500selected_6mon.csv', index=False)

In [6]:
len(all_features)

6450553